@import url('https://fonts.googleapis.com/css?family=Condiment&display=swap');

.card {
    width: 360px;
    padding: 10px;
    background-color: #545353;
    border-left: 2px solid #340027;
    color: whitesmoke;

    h3 {
        text-align: center;
        color: #340027;
        font-family: 'Condiment', cursive;
    }

    .update {         
        border: 1px solid #340027;
        border-radius: 5px;
        background-color:  #e0e0e0;
        color:  #340027;
    }

    .update:hover {
        background-color:#340027;
        color:  #e0e0e0;
    }

}