@import '../../../styles.scss';

.card {
    width: 360px;
    padding: 10px;
    background-color: #6b6969;
    border-left: 2px solid #340027;
    color: whitesmoke;
    margin-bottom: 3%;

    h3 {
        text-align: center;
        color: #340027;
        font-family: 'Condiment', cursive;
    }

    .update {         
        border: 1px solid #340027;
        border-radius: 5px;
        background-color:  #e0e0e0;
        color:  #340027;
    }

    .update:hover {
        background-color:#340027;
        color:  #e0e0e0;
    }

}