@import url('https://fonts.googleapis.com/css?family=Condiment&display=swap');

$logo-red: #bb0b0b;
$body: #2d3436;
$myWhite:#ffffff;
$sidebar: #ffecb3;


nav {
    width: 13%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    background-color: black;
    border-right: 2px solid $logo-red;
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;

        h1 {
            margin: 15%;
            font-family: 'Condiment', cursive;
            color: $myWhite;
            text-align: center;
            transform: rotate(-10deg);

            .colored-letter {
                color: $logo-red;
            }
        }

        .line {
            width: 100%;
            height: 2px;
            background-color: $logo-red;
            transform: rotate(-10deg);
        }
    }

    .container-sidenav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        a {
            font-variant: small-caps;
            transition: all 0.8 ease;
            text-decoration: none;
            color: $myWhite;
            margin-top: 40px;

            span {
                margin-right: 20px;
            }

            svg {
                width: 20px;
            }
        }

        a:hover {
            color: $logo-red;
            svg path {
                fill: $logo-red;
            }
        }
        .active {
            color: $logo-red;
        }
    }
}

//////////////////////////////
///// @ LANDSCAPE ////////////
/////////////////////////////

@media (min-width: 300px) and (max-width: 1024px) and (orientation: landscape) {
    nav {
        width: 7%;
        align-items: center;

        header {
            img {
                width: 40px !important;
            }
        }

        .container-sidenav {
            a {
                margin-top: 25px;

                span {
                    display: none;
                }
            }
        }
    }
}

//////////////////////////////
///// @ PORTRAIT ////////////
/////////////////////////////


@media (min-width: 300px) and (max-width: 1024px) {
    nav {
        align-items: center;
        border-right: 1px solid $logo-red;

        header {
            font-size: 1rem;

            h1 {
                span {
                    display: none;
                }
            }
        }

        span {
            display: none;
        }
    }
}