<div class="card">

    <h2>{{ titleCard }}</h2>
  
    <input type="submit" class="btn btn-dark validate" value="{{ btnText }}" (click)="addItem()" [disabled]="!(nameDigestive && priceDigestive)" />

  <!-- HEADER -->
    <div class="header-card padd">
      <input
        type="text"
        class="txt"
        name="item"
        placeholder="Nom du digestif"
        style="width:80%"
        [(ngModel)]="nameDigestive"
      />

      <input
        type="text"
        class="txt"
        name="item"
        placeholder="9.99"
        style="width: 20%"
        [(ngModel)]="priceDigestive"
      />
    </div>

    <!-- AFFICHAGE -->
    <section class="container-digestive padd">

      <div class="affichage name-digestive">
        <p class="life-container" *ngFor="let digestive of digestives">{{ digestive }}</p>
      </div>

      <div class="affichage price-digestive">
        <p *ngFor="let price of prices">{{ price }} €</p>
      </div>
      <!-- <button type="reset" class="btn btn-danger">X</button> -->
    </section>

  </div>