<!-- Div container de mon component : -->
<div class="card">

    <!-- Le Header rassemble le H3 appelé dans le ts et le btn de validation des input qui suivront -->
    <header class="header-card padd">
        <h3>{{ mealType }}</h3>
        <!-- <hr> -->
         <button type="submit" class="btn validate" value="Ajouter" (click)="addItem()" [disabled]="!(mealName && mealPrice)"> Ajouter </button>
    </header>

    <!-- La class "padd" est just pour le css, indique un padding de 15px -->
    <!-- ma section contient les input "mealName" et "mealPrice", modifiés appelés dans le ts pour chaque card -->
    <section class="padd">
        <!-- placeholder => Interpolation -->
        <!-- ngModel: va chercher ce que l'admin rempli dans les champs input -->
        <input type="text"
               placeholder="{{ mealPlaceHolder }}"
               style="width:80%"
               [(ngModel)]="mealName">

        <input type="text"
               placeholder="9.99"
               style="width:20%"
               [(ngModel)]="mealPrice">
    </section>

    <!-- AFFICHAGE de ce que l'admin rentre dans les input : -->
    <article class="padd meal-list">

        <!-- ngFor => boucle pour afficher tous les items que l'admin enregistrera -->
        <div class="name-meal">
            <p class="name" *ngFor="let meal of meals">{{ meal }}</p>
        </div>

        <div class="price-meal">
            <p *ngFor="let price of prices">{{ price }} €

                <!-- btn de suppression d'un item (ne fonctionne pas encore) 
                <button class="btn btn-danger" style="height: 1.3em; width:1.3em;" type="submit" >
                    x
                </button>-->
                <button type="reset" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </p>
        </div>

    </article>
</div>
