$rougeCerise: #bb0b0b;
$white:#ffffff;
$border: #636e72;

.padd {
    padding: 15px;
}

.card {
    width: 380px;
    background-color: #272727;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23424242' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    margin: 3%;
    border: 1px solid $border;
    overflow: hidden;

    header {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
                color: $rougeCerise;
            }

            .validate {
                width: 50%;
            }
    }


    section {
        margin: auto;
    }

    article {
        display: flex;
        justify-content: space-between;

        p {
            margin-bottom: 0px;
            color: $white;
            font-size:1.3em;
        }
    }
}