

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
    //color: #120000;
    //font-size: 5px;
}

label {
    //color: #bb0b0b;
    color: #ffecb3;
    font-size: 1.3em;
    display: inline;
    //margin-right: 2%;
    //margin-left: 4%;
    //margin-bottom: 4%;
    //margin-top: 4%;
}

option {
    font-size: 1.5em;
}

.select-table-couvert {
    display: flex;
    justify-content: space-between;
    /* centre:
    justify-content: space-evenly;*/

    /*.table, .couvert {
        display: flex;
    }*/   
}

select {    
    color: #ffecb3;
    font-weight: bold;
    background-color: #890033;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.btn-secondary {
    background-color: #340027 !important; 
    color: white !important;    
    border-bottom-color: #41002F !important;
    border-top-color: #41002F !important;
    border-right-color: #41002F !important;
    border-left-color: #41002F !important;
}

.btn-light {
    background-color: #C50000 !important; 
    color: white !important;
    border-bottom-color: #120000 !important;
    border-top-color: #120000 !important;
    border-right-color: #120000 !important;
    border-left-color: #120000 !important; 
}
