<!-- COMPONENT CONTAINER DES 2 FUTURS COMPONENT -->
<div class="card">

  <input type="submit" class="btn btn-dark" value="{{ btnText }}" (click)="addItem()" />

<!-- FUTUR COMPONENT APP-CARD-HEADER -->
  <div class="container-input padd">
    <input
      type="text"
      class="txt"
      name="item"
      placeholder="Nom du plat"
      [(ngModel)]="nameMeal"
    />

    <input
      type="text"
      class="txt"
      name="item"
      placeholder="9.99"
      [(ngModel)]="priceMeal"
    />
  </div>

  <!-- FUTUR COMPONENT APP-CARD-AFFICHAGE -->
  <div class="container-meal padd">

    <div class="name-meal">
      <p class="life-container" *ngFor="let meal of meals">{{ meal }}</p>
    </div>

    <div class="price-meal">
      <p *ngFor="let price of prices">{{ price }}</p>
    </div>

  </div>

</div>
