$rougeCerise: #bb0b0b;

.card {
    width: 360px;

    h3 {
        text-align: center;
    }

    a {
        text-align: center;
        text-decoration: none;
        color: #640035;
    }

    a:hover {
        color: #AA0023;
        font-weight: bold;
    }

    // USER LIST 

    .userList {
        display: flex;
        // justify-content: space-around;
    }

    p {
        margin: auto;
    }

    button {
        margin: auto;
        color: $rougeCerise;
        outline: none;
    }
}
