$rougeCerise: #bb0b0b;

.card {
    width: 360px;
    //background-color: #bb0b0b;
    border-color: 2px solid #120000;

    h3 {
        text-align: center;
    }

    a {
        text-align: center;
        text-decoration: none;
        color: #640035;
    }

    a:hover {
        color: #AA0023;
        font-weight: bold;
        background-color: #120000;
    }

    // USER LIST 

    .userList {
        display: flex;
        // justify-content: space-around;
    }

    p {
        margin: auto;
    }

    button {
        margin: auto;
        color: $rougeCerise;
        outline: none;
    }
}
