<div class="card">
  <h3>Utilisateurs</h3>
  <hr>
  <button routerLink="/new-user" routerLinkActive="active" class="addUser"> Ajouter un nouvel utilisateur</button>
  <hr>
  <ul class="list-group">
    <li class="userList" *ngFor="let utilisateur of utilisateurs">
      <p class="userName">{{ utilisateur.name }}</p>
      <p class="role">{{ utilisateur.role }} </p>
      <button class="deleteUser" type="reset" class="close" aria-label="Close">
        X
      </button>
    </li>
  </ul>

</div>
