.card {
    width: 360px;
    //background-color: #bb0b0b;
    border-color: 2px solid #120000;

    h3 {
        text-align: center;
    }

    a {
        text-align: center;
        text-decoration: none;
        color: #640035;
    }

    a:hover {
        color: #AA0023;
        font-weight: bold;
        background-color: #120000;
    }

    li {
        display: flex;
        justify-content: space-around;
    }

    .close {
        background-color: #bb0b0b;
        color: #120000;
        border-radius: 2px solid #120000;
        //width: 2%;
        //height: 2%;
    }
}
