.formGroup {
    .input {
        width: 20%;
    }
}


.btn-light {
    background-color: #C50000 !important; 
    color: white !important;
    border-bottom-color: #120000 !important;
    border-top-color: #120000 !important;
    border-right-color: #120000 !important;
    border-left-color: #120000 !important; 
}

