@import '../../../styles.scss';

.formulaire {
    margin: auto;
    width: 70%;
    label {
        color: $myWhite;
    }
}


.btn {
    background-color: #820023 !important; 
    color: white !important;
    border-bottom-color: #1e0003 !important;
    border-top-color: #1e0003 !important;
    border-right-color: #1e0003 !important;
    border-left-color: #1e0003 !important; 
}

