<div class="container-homepage">
  <header style="text-align:center">
    <!-- <h1>
        {{ title }}
      </h1> -->
    <img
      width="250"
      alt="Myamm Logo"
      class="img-fluid"
      src="../../assets/logo.png"
    />
  </header>

  <div class="container-form">
    <form type="post">
      <input type="text" placeholder="Identifiant" required/>
      <input type="password" placeholder="password" required/>

      <button type="submit" class="btn" *ngIf="!authStatus" (click)="onSignIn()">Se connecter</button>
    </form>
  </div>
</div>
