@import url('https://fonts.googleapis.com/css?family=Condiment&display=swap');

$logo-red: #bb0b0b;
$body: #2d3436;
$myWhite:#ffffff;
$sidebar: #ffecb3;

header {
    padding: 15px;

    h2 {
        font-size: 1.2em;
        // font-family: 'Condiment', cursive;
        color: $logo-red;
        text-shadow: 2px 2px 2px black;
        margin: 1%;
    }
}

.container-form {
    // margin-top: 2%;
    display: flex;
    justify-content: center;
    padding: 15px;

    .form {
        width: 70%;
        display: flex;
        flex-direction: column;
        // justify-content: space-evenly;
        align-items: center;

        input {
            margin-bottom: 20px;
            outline: none;
            // background-color:black;
            color:#2A0015;
            border-radius: 5px;
            border: 2px solid $logo-red;
        }

        .btn {
            border: 2px solid $logo-red;
            color: $myWhite;
        }

        .btn:hover {
            background-color: $logo-red;
            color: $myWhite;
        }

    }
}

app-sidenav {
    display: none;
}

//////////////////////////////
/////@ LANDSCAPE /////////////
/////////////////////////////

@media (min-width: 300px) and (max-width: 1024px) and (orientation: landscape) {
    .container-homepage {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
