<div class="container-homepage">
  <header style="text-align:center">
    <!-- <h1>
        {{ title }}
      </h1> -->
    <img
      width="250"
      alt="Myamm Logo"
      class="img-fluid"
      src="../../assets/logo.png"
    />

    <h2>L'application à votre service</h2>
  </header>

  <div class="container-form">
    <div class="form">
      <input type="text" placeholder="Identifiant" required [(ngModel)]="formUser.name"/>
      <input type="password" placeholder="password" required [(ngModel)]="formUser.password"/>

      <button type="submit" class="btn" *ngIf="!authStatus" (click)="onSignIn()">Se connecter</button>
    </div>
  </div>
</div>
