$body: #2d3436;
$myWhite:#ffffff;

// body {
//     background-color: $body;
//     color: $myWhite;
// }/* You can add global styles to this file, and also import other style files */

body {
    // background: #8e9eab;  
    // background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    // background: linear-gradient(to right, #eef2f3, #8e9eab);

    background-color: #0a0500;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23120000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23bb0b0b' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23130005' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%2397090a' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23140009' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23730709' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2315000e' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%234f0409' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23160012' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%232b0208' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23170017' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23070007' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}