<div class="container">
  <form #profilForm="ngForm" (ngSubmit)="submitProfilForm(profilForm)">
    <div class="form-group">
      <label for="name">Identifiant</label>
      <input type="text" class="form-control" ngModel name="userName" id="userName" formControlName="name">
    </div>

    <div class="form-group">
      <label for="role">Email</label>
      <input type="email" class="form-control" ngModel name="userMail" id="userMail" formControlName="email">
    </div>

    <div class="form-group">
      <label for="password">Mot de Passe</label>
      <input type="password" class="form-control" ngModel name="userPassword" id="userPassword" formControlName="password">
    </div>

    <div class="form-group">
      <label for="numberTable">Nombre de tables</label>
      <input type="number" class="form-control" ngModel name="numberTable" id="numberTable" formControlName="numberTable">
    </div>

    <button type="submit" class="btn btn-primary" (click)="updateProfilForm(profilForm)">Enregistrer</button>
  </form>
</div>
