$rougeCerise: #bb0b0b;

.card {
    text-align: center;
    margin: 3%;
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid $rougeCerise;
    border-radius: 5px; 
    background-color: #ffecb3;
}

.modal-body {
    display: flex;
    justify-content: space-around;
    border: 2px solid $rougeCerise;
    background-color: #ffecb3;
}